.modal-content{
    width: 43vw;
    height: 59vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding:10px;
    .modal-img-container{
        display: flex;
        flex-direction:column;
        justify-content: flex-start;
        align-items: flex-start;
        gap:15px;
        .image{
            max-width: 185px;
            max-height: 227px;}
    }
    .modal-movie-info{
        display: flex;
        flex-direction:column;
        justify-content: flex-start;
        align-items: flex-start;
        gap:15px;
        .movie-title{
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
        }
    }
}