.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    .header-links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .logo-container {
            color: red;
        }
        .option {
            margin: 0 15px 0 0;
        }
    }
    .header-search {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
